In [5]:
#opening a file
file=open("inventory.txt","r")

#reading a file
print(file.read())


file.close() #closing a file

apple,50.00
chocolate,200.00
banana,5.00
pineapple,125.00
Kiwi,30.00

In [6]:
#read 
file=open("inventory.txt","r")

#display file line by line

for line in file:
    print(line)

apple,50.00

chocolate,200.00

banana,5.00

pineapple,125.00

Kiwi,30.00

In [7]:
#read 
file=open("inventory.txt","r")

#display file line by line

for line in file:
    # print(line)
    data=line.split(",")
    product=data[0]
    price=data[1]
    print(f"Product: {product} \t Price: {price}")

file.close()

Product: apple 	 Price: 50.00

Product: chocolate 	 Price: 200.00

Product: banana 	 Price: 5.00

Product: pineapple 	 Price: 125.00

Product: Kiwi 	 Price: 30.00

In [8]:
#append to a file

file=open("inventory.txt","a")

file.write("\nKiwi,30.00")

file.close()

In [9]:
#delete an item (pear) from the file

file=open("inventory.txt","r")

#add every line of the file to a list
lines=[]
for line in file:
    lines.append(line)
file.close() #close the file

#open the file in write mode
file=open("inventory.txt","w")
for line in lines:
    if "Pear" not in line:
        file.write(line)

file.close()

In [10]:
#exception handling

try:
    file=open("inventoy.txt","r")
except Exception as e:
    print(str(e))

print("program continues")

[Errno 2] No such file or directory: 'inventoy.txt'
program continues

In [11]:
with open("inventory.txt",encoding = 'utf-8') as f:
    print(f.read())

apple,50.00
chocolate,200.00
banana,5.00
pineapple,125.00
Kiwi,30.00
Kiwi,30.00

In [12]:
#seek() method to place cursor to initial positiohn
with open("inventory.txt",encoding = 'utf-8') as file:
    file.seek(12)
    print(file.read())

chocolate,200.00
banana,5.00
pineapple,125.00
Kiwi,30.00
Kiwi,30.00

In [13]:
#Exercise
with open("nameslist.txt") as file:
    for line in file:
        print(line.strip())

Darth
Luke
Darth
Lea
Darth
Lea
Lea
Luke
Darth
Lea
Darth
Darth
Lea
Lea
Darth
Lea
Darth
Lea
Luke
Darth
Lea
Lea
Darth
Lea
Darth
Darth
Lea
Lea
Luke
Luke
Lea
Darth
Darth
Luke
Lea
Darth
Darth
Lea
Lea
Lea
Lea
Lea
Luke
Darth
Luke
Lea
Lea
Lea
Lea
Luke
Lea
Darth
Lea
Lea
Darth
Lea
Lea
Darth
Darth
Lea
Darth
Lea
Darth
Luke
Lea
Luke
Darth
Darth
Luke
Darth
Lea
Darth
Lea
Luke
Lea
Lea
Lea
Lea
Lea
Darth
Lea
Lea
Lea
Lea
Lea
Lea
Lea
Luke
Lea
Lea
Lea
Lea
Lea
Lea
Darth
Luke
Darth
Lea
Lea
Darth
Nirmal

In [14]:
#Read only the 5th line of the file
with open("nameslist.txt") as file:
    i=0
    for line in file:
        if i==5:
            print(line.strip())
            break
        i+=1

Lea

In [15]:
#Read only the 5 first characters of the file
with open("nameslist.txt") as file:
    print(file.read(5))

Darth

In [16]:
# Read all the file and return it as a list of strings. Then split each word
names=[]
with open("nameslist.txt") as file:
    for line in file:
        names.append(line.strip())

print(names)

['Darth', 'Luke', 'Darth', 'Lea', 'Darth', 'Lea', 'Lea', 'Luke', 'Darth', 'Lea', 'Darth', 'Darth', 'Lea', 'Lea', 'Darth', 'Lea', 'Darth', 'Lea', 'Luke', 'Darth', 'Lea', 'Lea', 'Darth', 'Lea', 'Darth', 'Darth', 'Lea', 'Lea', 'Luke', 'Luke', 'Lea', 'Darth', 'Darth', 'Luke', 'Lea', 'Darth', 'Darth', 'Lea', 'Lea', 'Lea', 'Lea', 'Lea', 'Luke', 'Darth', 'Luke', 'Lea', 'Lea', 'Lea', 'Lea', 'Luke', 'Lea', 'Darth', 'Lea', 'Lea', 'Darth', 'Lea', 'Lea', 'Darth', 'Darth', 'Lea', 'Darth', 'Lea', 'Darth', 'Luke', 'Lea', 'Luke', 'Darth', 'Darth', 'Luke', 'Darth', 'Lea', 'Darth', 'Lea', 'Luke', 'Lea', 'Lea', 'Lea', 'Lea', 'Lea', 'Darth', 'Lea', 'Lea', 'Lea', 'Lea', 'Lea', 'Lea', 'Lea', 'Luke', 'Lea', 'Lea', 'Lea', 'Lea', 'Lea', 'Lea', 'Darth', 'Luke', 'Darth', 'Lea', 'Lea', 'Darth', 'Nirmal']

In [17]:
# Find out how many occurences of the names "Darth", "Luke" and "Lea" are in the file
names=[]
with open("nameslist.txt") as file:
    for line in file:
        names.append(line.strip())

lea=names.count("Lea")
darth=names.count("Darth")

print(f'Lea: {lea} Darth: {darth}')

Lea: 54 Darth: 31

In [18]:
# Append your first name at the end of the file
with open("nameslist.txt",'a') as file:
    file.write("\nNirmal")

In [20]:
# Append "SkyWalker" next to each first name "Luke"
names=[]
with open("nameslist.txt",'r') as file:
    for line in file:
        names.append(line.strip())


with open("nameslist.txt",'w') as file:
    for name in names:
        if name=="Luke":
            file.write("Luke SkyWalker\n")
        else:
            file.write(f"{name}\n")